<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tech y Print Solutions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </div>
            <h1>TECH Y PRINT SOLUTIONS</h1>
            <div class="nav-buttons">
                <nav>
                    {% if current_user.is_authenticated %}
                        <a href="/">Inicio</a>
                        <a href="/profile">Mi Perfil</a>
                        {% if current_user.type == 'admin' %}
                            <a href="/admin">Admin</a>
                        {% endif %}
                        <a href="/logout">Cerrar sesión</a>
                    {% else %}
                        <a href="/login">Iniciar Sesión</a>
                        <a href="/register">Registrarse</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <a href="#">Instagram</a>
        <a href="#">WhatsApp</a>
        <a href="#">X</a>
    </footer>
</body>
</html>
