{% extends "base.html" %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <h2 class="welcome-message">Personaliza tu impresion</h2>
        <label>Subir Archivo PDF:</label>
        <input type="file" name="archivo" accept="application/pdf" required>
        <label>Color:</label>
        <select name="color">
            <option value="color">A color</option>
            <option value="bn">Blanco y negro</option>
        </select>
        <label>Faz:</label>
        <select name="faz">
            <option value="simple">Simple</option>
            <option value="doble">Doble</option>
        </select>
        <button type="submit">Enviar</button>
    </form>
{% endblock %}
