{% extends "base.html" %}

{% block content %}
    <!-- Cartel de bienvenida -->
    <div class="welcome-message">
        Bienvenido a Tech y Print Solutions
    </div>

     <!-- Mensajes de flash debajo del cartel de bienvenida -->
     {% with messages = get_flashed_messages() %}
     {% if messages %}
         <div class="flash-messages">
             <ul class="flashes">
                 {% for message in messages %}
                     <li>{{ message }}</li>
                 {% endfor %}
             </ul>
         </div>
     {% endif %}
 {% endwith %}

    <form method="POST">
        <h2>Registro de Usuario</h2>
        <label>Nombre de Usuario:</label>
        <input type="text" name="username" required>
        <label>Correo Electrónico:</label>
        <input type="email" name="email" required>
        <label>Número de Teléfono:</label>
        <input type="tel" name="phone" required>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
        <button type="submit">Registrarse</button>
    </form>
{% endblock %}
